 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.4), rgba(41,45,51,0.4)), url("https://assets.nicepagecdn.com/3c03d4d8/4058497/images/g010c1fe9c46b3acb70c40d0457313e95e3d0b6b77e8c809a875b06a2c1bfa5b883ce906d01fbbb0f55c81f119fa8fd9012762a7425378b43d880f4335e6a0a21_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-group-1 {
  width: 293px;
  background-image: none;
  min-height: 144px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 39px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-group-1 {
    width: 272px;
    min-height: 114px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-group-1 {
    width: 210px;
    min-height: 92px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-group-1 {
    min-height: 61px;
    width: 155px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 726px;
}

.u-section-2 .u-group-1 {
  min-height: 202px;
  width: 1118px;
  height: auto;
  margin: 80px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-group-2 {
  min-height: 142px;
  background-image: none;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Montserrat, sans-serif;
  margin: 13px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  font-size: 1rem;
  margin: 15px auto 0 0;
  padding: 4px 22px 5px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-group-2 {
    min-height: 155px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-top: 80px;
    min-height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 27px;
  }

  .u-section-2 .u-group-2 {
    min-height: 122px;
    width: 662px;
    margin-top: 14px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 18px;
    padding: 1px 9px 2px 8px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 195px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    min-height: 113px;
    width: 491px;
    margin-top: 12px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 22px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 66px;
    min-height: 153px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 110px;
    width: 300px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 16px;
  }
}